@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  color:rgb(51, 51, 51);
}

body {
  background-color: #000000;
}

.add-form{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.form {
    background-color: #0099ff;
    border-radius: 15px;
    padding: 30px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
td,th{
  padding: 10px 15px;
  border: 1px solid #00000010;
  text-align: center;
}

td{
  color: #313131;
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #008fee;
}

  .btn-edit,
.btn-delete {
  background-color: #ffffff; /* cor de fundo */
  color: white; /* cor do texto */
  border: none; /* remove a borda padrão do botão */
  padding: 4px 8px; /* espaço interno do botão */
  text-align: center; /* alinhamento do texto */
  text-decoration: none; /* remove a decoração de texto padrão */
  display: inline-block; /* garante que o botão não ocupe toda a largura disponível */
  font-size: 14px; /* tamanho da fonte */
  margin: 4px 2px; /* margem externa */
  cursor: pointer; /* cursor ao pairar sobre o botão */
  border-radius: 4px; /* borda arredondada */
}

.btn-delete:nth-child(2){
  background-color: #ff0000;
}
.btn-edit:nth-child(1){
  background-color: #ffc400;
}

.btn-edit:hover,.btn-delete:hover{
  background-color: rgb(212, 212, 212);
}

input{
  border-radius: 4px;
  border: none;
  padding: 4px;
  margin: 4px;
}

#btn-adicionar{
  background-color: #ffffff; /* cor de fundo */
  color: rgba(0, 0, 0, 0.800); /* cor do texto */
  border: none; /* remove a borda padrão do botão */
  padding: 4px 8px; /* espaço interno do botão */
  text-align: center; /* alinhamento do texto */
  text-decoration: none; /* remove a decoração de texto padrão */
  display: inline-block; /* garante que o botão não ocupe toda a largura disponível */
  font-size: 14px; /* tamanho da fonte */
  margin: 4px 2px; /* margem externa */
  cursor: pointer; /* cursor ao pairar sobre o botão */
  border-radius: 4px; /* borda arredondada */
  font-weight: 700;
}

#btn-adicionar:hover{
  background-color: rgb(212, 212, 212);
}

select{
  border-radius: 4px;
  border: none;
  padding: 4px;
  margin: 4px;
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
}

select:hover{
  background-color: rgb(212, 212, 212);
}